.marvel-device{
  font-size: 100px;
	display: inline-block;
	position: relative;
	box-sizing: content-box !important;

	.screen {
		width: 100%;
		position: relative;
		height: 100%;
		z-index: 3;
		background: white;
		overflow: hidden;
		display: block;
		border-radius: 0.01em;
		box-shadow: 0 0 0 0.03em #111;
	}

	.screen > *{
		font-size: initial;
	}

	.top-bar, .bottom-bar {
		height: 0.03em;
		background: black;
		width: 100%;
		display: block;
	}

	.middle-bar {
		width: 0.03em;
		height: 0.04em;
		top: 0em;
		left: 0.90em;
		background: black;
		position: absolute;
	}

	&.iphone8{
		width: 3.75em;
		height: 6.67em;
		padding: 1.05em 0.24em;
		background: #d9dbdc;
		border-radius: 0.56em;
		box-shadow:inset 0 0 0.03em 0 rgba(0, 0, 0, 0.2);

		&:before{
			width: calc(100% - 0.12em);
			height: calc(100% - 0.12em);
			position: absolute;
			top: 0.06em;
			content: '';
			left: 0.06em;
			border-radius: 0.50em;
			background: #f8f8f8;
			z-index: 1;
		}

		&:after{
			width: calc(100% - 0.16em);
			height: calc(100% - 0.16em);
			position: absolute;
			top: 0.08em;
			content: '';
			left: 0.08em;
			border-radius: 0.48em;
			box-shadow:inset 0 0 0.03em 0 rgba(0, 0, 0, 0.1),
			inset 0 0 0.06em 0.03em #FFFFFF;
			z-index: 2;
		}

		.home {
			border-radius: 100%;
			width: 0.68em;
			height: 0.68em;
			position: absolute;
			left: 50%;
			margin-left: -0.34em;
			bottom: 0.22em;
			z-index: 3;
			background: rgb(48,50,51);
			background: linear-gradient(135deg, rgba(48,50,51,1) 0%,rgba(181,183,185,1) 50%,rgba(240,242,242,1) 69%,rgba(48,50,51,1) 100%);

			&:before{
				background: #f8f8f8;
				position: absolute;
				content: '';
				border-radius: 100%;
				width: calc(100% - 0.08em);
				height: calc(100% - 0.08em);
				top: 0.04em;
				left: 0.04em;
			}
		}

		.top-bar{
			height: 0.14em;
			background: #bfbfc0;
			position: absolute;
			top: 0.68em;
			left: 0;
		}

		.bottom-bar{
			height: 0.14em;
			background: #bfbfc0;
			position: absolute;
			bottom: 0.68em;
			left: 0;
		}

		.sleep{
			position: absolute;
			top: 1.90em;
			right: -0.04em;
			width: 0.04em;
			height: 0.66em;
			border-radius: 0em 0.02em 0.02em 0em;
			background: #d9dbdc;
		}

		.volume{
			position: absolute;
			left: -0.04em;
			top: 1.88em;
			z-index: 0;
			height: 0.66em;
			width: 0.04em;
			border-radius: 0.02em 0em 0em 0.02em;
			background: #d9dbdc;

			&:before {
				position: absolute;
				left: 0.02em;
				top: -0.78em;
				height: 0.40em;
				width: 0.02em;
				border-radius: 0.02em 0em 0em 0.02em;
				background: inherit;
				content: '';
				display: block;
			}

			&:after {
				position: absolute;
				left: 0em;
				top: 0.82em;
				height: 0.66em;
				width: 0.04em;
				border-radius: 0.02em 0em 0em 0.02em;
				background: inherit;
				content: '';
				display: block;
			}
		}

		.camera {
			background: #3c3d3d;
			width: 0.12em;
			height: 0.12em;
			position: absolute;
			top: 0.24em;
			left: 50%;
			margin-left: -0.06em;
			border-radius: 100%;
			z-index: 3;
		}

		.sensor {
			background: #3c3d3d;
			width: 0.16em;
			height: 0.16em;
			position: absolute;
			top: 0.49em;
			left: 1.34em;
			z-index: 3;
			border-radius: 100%;
		}

		.speaker {
			background: #292728;
			width: 0.70em;
			height: 0.06em;
			position: absolute;
			top: 0.54em;
			left: 50%;
			margin-left: -0.35em;
			border-radius: 0.06em;
			z-index: 3;
		}

		&.gold{
			background: #f9e7d3;

			.top-bar, .bottom-bar{
				background: white;
			}

			.sleep, .volume{
				background: #f9e7d3;
			}

			.home{
				background: rgb(206,187,169);
				background: linear-gradient(135deg, rgba(206,187,169,1) 0%,rgba(249,231,211,1) 50%,rgba(206,187,169,1) 100%);
			}
		}

		&.black{
			background: #464646;
			box-shadow: inset 0 0 0.03em 0 rgba(0, 0, 0, 0.7);

			&:before{
				background: #080808;
			}

			&:after{
				box-shadow:
					inset 0 0 0.03em 0 rgba(0, 0, 0, 0.1),
					inset 0 0 0.06em 0.03em #212121;
			}

			.top-bar, .bottom-bar{
				background: #212121;
			}

			.volume, .sleep{
				background: #464646;
			}

			.camera{
				background: #080808;
			}

			.home{
				background: rgb(8,8,8);
				background: linear-gradient(135deg, rgba(8,8,8,1) 0%,rgba(70,70,70,1) 50%,rgba(8,8,8,1) 100%);

				&:before{
					background: #080808;
				}
			}

		}

		&.landscape{
			padding: 0.24em 1.05em;
			height: 3.75em;
			width: 6.67em;

			.sleep{
				top: 100%;
				border-radius: 0em 0em 0.02em 0.02em;
				right: 1.90em;
				height: 0.04em;
				width: 0.66em;
			}

			.volume {
				width: 0.66em;
				height: 0.04em;
				top: -0.04em;
				left: calc(100% - 1.88em - 0.66em);
				border-radius: 0.02em 0.02em 0em 0em;

				&:before {
					width: 0.40em;
					height: 0.02em;
					top: 0.02em;
					right: -0.78em;
					left: auto;
					border-radius: 0.02em 0.02em 0em 0em;
				}

				&:after{
					left: -0.82em;
					width: 0.66em;
					height: 0.04em;
					top: 0;
					border-radius: 0.02em 0.02em 0em 0em;
				}
			}

			.top-bar{
				width: 0.14em;
				height: 100%;
				left: calc(100% - 0.68em -  0.14em);
				top: 0;
			}

			.bottom-bar{
				width: 0.14em;
				height: 100%;
				left: 0.68em;
				top: 0;
			}

			.home{
				top: 50%;
				margin-top: -0.34em;
				margin-left: 0;
				left: 0.22em;
			}

			.sensor {
				top: 1.34em;
				left: calc(100% - 0.49em - 0.16em);
			}

			.speaker {
				height: 0.70em;
				width: 0.06em;
				left: calc(100% - 0.54em - 0.06em);
				top: 50%;
				margin-left: 0em;
				margin-top: -0.35em;
			}

			.camera {
				left: calc(100% - 0.32em);
				top: 50%;
				margin-left: 0em;
				margin-top: -0.05em;
			}
		}
	}

	&.iphone8plus{
		width: 4.14em;
		height: 7.36em;
		padding: 1.12em 0.26em;
		background: #d9dbdc;
		border-radius: 0.56em;
		box-shadow:inset 0 0 0.03em 0 rgba(0, 0, 0, 0.2);

		&:before{
			width: calc(100% - 0.12em);
			height: calc(100% - 0.12em);
			position: absolute;
			top: 0.06em;
			content: '';
			left: 0.06em;
			border-radius: 0.50em;
			background: #f8f8f8;
			z-index: 1;
		}

		&:after{
			width: calc(100% - 0.16em);
			height: calc(100% - 0.16em);
			position: absolute;
			top: 0.08em;
			content: '';
			left: 0.08em;
			border-radius: 0.48em;
			box-shadow: inset 0 0 0.03em 0 rgba(0, 0, 0, 0.1),
				inset 0 0 0.06em 0.03em #FFFFFF;
			z-index: 2;
		}

		.home {
			border-radius: 100%;
			width: 0.68em;
			height: 0.68em;
			position: absolute;
			left: 50%;
			margin-left: -0.34em;
			bottom: 0.24em;
			z-index: 3;
			background: rgb(48,50,51);
			background: linear-gradient(135deg, rgba(48,50,51,1) 0%,rgba(181,183,185,1) 50%,rgba(240,242,242,1) 69%,rgba(48,50,51,1) 100%);

			&:before{
				background: #f8f8f8;
				position: absolute;
				content: '';
				border-radius: 100%;
				width: calc(100% - 0.08em);
				height: calc(100% - 0.08em);
				top: 0.04em;
				left: 0.04em;
			}
		}

		.top-bar{
			height: 0.14em;
			background: #bfbfc0;
			position: absolute;
			top: 0.68em;
			left: 0;
		}

		.bottom-bar{
			height: 0.14em;
			background: #bfbfc0;
			position: absolute;
			bottom: 0.68em;
			left: 0;
		}

		.sleep{
			position: absolute;
			top: 1.90em;
			right: -0.04em;
			width: 0.04em;
			height: 0.66em;
			border-radius: 0em 0.02em 0.02em 0em;
			background: #d9dbdc;
		}

		.volume{
			position: absolute;
			left: -0.04em;
			top: 1.88em;
			z-index: 0;
			height: 0.66em;
			width: 0.04em;
			border-radius: 0.02em 0em 0em 0.02em;
			background: #d9dbdc;

			&:before {
				position: absolute;
				left: 0.02em;
				top: -0.78em;
				height: 0.40em;
				width: 0.02em;
				border-radius: 0.02em 0em 0em 0.02em;
				background: inherit;
				content: '';
				display: block;
			}

			&:after {
				position: absolute;
				left: 0em;
				top: 0.82em;
				height: 0.66em;
				width: 0.04em;
				border-radius: 0.02em 0em 0em 0.02em;
				background: inherit;
				content: '';
				display: block;
			}
		}

		.camera {
			background: #3c3d3d;
			width: 0.12em;
			height: 0.12em;
			position: absolute;
			top: 0.29em;
			left: 50%;
			margin-left: -0.06em;
			border-radius: 100%;
			z-index: 3;
		}

		.sensor {
			background: #3c3d3d;
			width: 0.16em;
			height: 0.16em;
			position: absolute;
			top: 0.54em;
			left: 1.54em;
			z-index: 3;
			border-radius: 100%;
		}

		.speaker {
			background: #292728;
			width: 0.70em;
			height: 0.06em;
			position: absolute;
			top: 0.59em;
			left: 50%;
			margin-left: -0.35em;
			border-radius: 0.06em;
			z-index: 3;
		}

		&.gold{
			background: #f9e7d3;

			.top-bar, .bottom-bar{
				background: white;
			}

			.sleep, .volume{
				background: #f9e7d3;
			}

			.home{
				background: rgb(206,187,169);
				background: linear-gradient(135deg, rgba(206,187,169,1) 0%,rgba(249,231,211,1) 50%,rgba(206,187,169,1) 100%);
			}
		}

		&.black{
			background: #464646;
			box-shadow:inset 0 0 0.03em 0 rgba(0, 0, 0, 0.7);

			&:before{
				background: #080808;
			}

			&:after{
				box-shadow:
					inset 0 0 0.03em 0 rgba(0, 0, 0, 0.1),
					inset 0 0 0.06em 0.03em #212121;
			}

			.top-bar, .bottom-bar{
				background: #212121;
			}

			.volume, .sleep{
				background: #464646;
			}

			.camera{
				background: #080808;
			}

			.home{
				background: rgb(8,8,8);
				background: linear-gradient(135deg, rgba(8,8,8,1) 0%,rgba(70,70,70,1) 50%,rgba(8,8,8,1) 100%);

				&:before{
					background: #080808;
				}
			}

		}

		&.landscape{
			padding: 0.26em 1.12em;
			height: 4.14em;
			width: 7.36em;

			.sleep{
				top: 100%;
				border-radius: 0em 0em 0.02em 0.02em;
				right: 1.90em;
				height: 0.04em;
				width: 0.66em;
			}

			.volume {
				width: 0.66em;
				height: 0.04em;
				top: -0.04em;
				left: calc(100% - 1.88em - 0.66em);
				border-radius: 0.02em 0.02em 0em 0em;

				&:before {
					width: 0.40em;
					height: 0.02em;
					top: 0.02em;
					right: -0.78em;
					left: auto;
					border-radius: 0.02em 0.02em 0em 0em;
				}

				&:after{
					left: -0.82em;
					width: 0.66em;
					height: 0.04em;
					top: 0;
					border-radius: 0.02em 0.02em 0em 0em;
				}
			}

			.top-bar{
				width: 0.14em;
				height: 100%;
				left: calc(100% - 0.68em -  0.14em);
				top: 0;
			}

			.bottom-bar{
				width: 0.14em;
				height: 100%;
				left: 0.68em;
				top: 0;
			}

			.home{
				top: 50%;
				margin-top: -0.34em;
				margin-left: 0;
				left: 0.24em;
			}

			.sensor {
				top: 1.54em;
				left: calc(100% - 0.54em - 0.16em);
			}

			.speaker {
				height: 0.70em;
				width: 0.06em;
				left: calc(100% - 0.59em - 0.06em);
				top: 50%;
				margin-left: 0em;
				margin-top: -0.35em;
			}

			.camera {
				left: calc(100% - 0.29em);
				top: 50%;
				margin-left: 0em;
				margin-top: -0.05em;
			}
		}
	}

	&.iphone5s, &.iphone5c{
		padding: 1.05em 0.22em;
		background: #2c2b2c;
		width: 3.20em;
		height: 5.68em;
		border-radius: 0.50em;

		&:before{
			width: calc(100% - 0.08em);
			height: calc(100% - 0.08em);
			position: absolute;
			top: 0.04em;
			content: '';
			left: 0.04em;
			border-radius: 0.46em;
			background: #1e1e1e;
			z-index: 1;
		}

		.sleep{
			position: absolute;
			top: -0.04em;
			right: 0.60em;
			width: 0.60em;
			height: 0.04em;
			border-radius: 0.02em 0.02em 0em 0em;
			background: #282727;
		}

		.volume{
			position: absolute;
			left: -0.04em;
			top: 1.80em;
			z-index: 0;
			height: 0.27em;
			width: 0.04em;
			border-radius: 0.02em 0em 0em 0.02em;
			background: #282727;

			&:before {
				position: absolute;
				left: 0em;
				top: -0.75em;
				height: 0.35em;
				width: 0.04em;
				border-radius: 0.02em 0em 0em 0.02em;
				background: inherit;
				content: '';
				display: block;
			}

			&:after {
				position: absolute;
				left: 0em;
				bottom: -0.64em;
				height: 0.27em;
				width: 0.04em;
				border-radius: 0.02em 0em 0em 0.02em;
				background: inherit;
				content: '';
				display: block;
			}
		}

		.camera {
			background: #3c3d3d;
			width: 0.10em;
			height: 0.10em;
			position: absolute;
			top: 0.32em;
			left: 50%;
			margin-left: -0.05em;
			border-radius: 0.05em;
			z-index: 3;
		}

		.sensor {
			background: #3c3d3d;
			width: 0.10em;
			height: 0.10em;
			position: absolute;
			top: 0.60em;
			left: 1.60em;
			z-index: 3;
			margin-left: -0.32em;
			border-radius: 0.05em;
		}

		.speaker {
			background: #292728;
			width: 0.64em;
			height: 0.10em;
			position: absolute;
			top: 0.60em;
			left: 50%;
			margin-left: -0.32em;
			border-radius: 0.05em;
			z-index: 3;
		}

		&.landscape{
			padding: 0.22em 1.05em;
			height: 3.20em;
			width: 5.68em;

			.sleep{
				right: -0.04em;
				top: calc(100% - 1.20em);
				height: 0.60em;
				width: 0.04em;
				border-radius: 0em 0.02em 0.02em 0em;
			}

			.volume {
				width: 0.27em;
				height: 0.04em;
				top: -0.04em;
				left: calc(100% - 1.80em);
				border-radius: 0.02em 0.02em 0em 0em;

				&:before {
					width: 0.35em;
					height: 0.04em;
					top: 0em;
					right: -0.75em;
					left: auto;
					border-radius: 0.02em 0.02em 0em 0em;
				}

				&:after{
					bottom: 0em;
					left: -0.64em;
					z-index: 999;
					height: 0.04em;
					width: 0.27em;
					border-radius: 0.02em 0.02em 0em 0em;
				}
			}

			.sensor {
				top: 1.60em;
				left: calc(100% - 0.60em);
				margin-left: 0em;
				margin-top: -0.32em;
			}

			.speaker {
				height: 0.64em;
				width: 0.10em;
				left: calc(100% - 0.60em);
				top: 50%;
				margin-left: 0em;
				margin-top: -0.32em;
			}

			.camera {
				left: calc(100% - 0.32em);
				top: 50%;
				margin-left: 0em;
				margin-top: -0.05em;
			}
		}
	}

	&.iphone5s{
		.home {
			border-radius: 0.36em;
			width: 0.68em;
			box-shadow: inset 0 0 0 0.04em #2c2b2c;
			height: 0.68em;
			position: absolute;
			left: 50%;
			margin-left: -0.34em;
			bottom: 0.19em;
			z-index: 3;
		}

		.top-bar{
			top: 0.70em;
			position: absolute;
			left: 0;
		}

		.bottom-bar {
			bottom: 0.70em;
			position: absolute;
			left: 0;
		}

		&.landscape{
			.home {
				left: 0.19em;
				bottom: 50%;
				margin-bottom: -0.34em;
				margin-left: 0em;
			}

			.top-bar {
				left: 0.70em;
				top: 0em;
				width: 0.03em;
				height: 100%;
			}

			.bottom-bar {
				right: 0.70em;
				left: auto;
				bottom: 0em;
				width: 0.03em;
				height: 100%;
			}
		}

		&.silver{
			background: #bcbcbc;

			&:before{
				background: #fcfcfc;
			}

			.volume, .sleep{
				background: #d6d6d6;
			}

			.top-bar, .bottom-bar{
				background: #eaebec;
			}

			.home{
				box-shadow: inset 0 0 0 0.04em #bcbcbc;
			}
		}

		&.gold{
			background: #f9e7d3;

			&:before{
				background: #fcfcfc;
			}

			.volume, .sleep{
				background: #f9e7d3;
			}

			.top-bar, .bottom-bar{
				background: white;
			}

			.home{
				box-shadow: inset 0 0 0 0.04em #f9e7d3;
			}
		}
	}

	&.iphone5c{
		background: white;
		box-shadow: 0 0.01em 0.02em 0 rgba(0,0,0,0.2);

		.top-bar, .bottom-bar{
			display: none;
		}

		.home{
			background: #242324;
			border-radius: 0.36em;
			width: 0.68em;
			height: 0.68em;
			z-index: 3;
			position: absolute;
			left: 50%;
			margin-left: -0.34em;
			bottom: 0.19em;

			&:after{
				width: 0.20em;
				height: 0.20em;
				border: 0.01em solid rgba(255, 255, 255, 0.1);
				border-radius: 0.04em;
				position: absolute;
				display: block;
				content: '';
				top: 50%;
				left: 50%;
				margin-top: -0.11em;
				margin-left: -0.11em;
			}
		}

		&.landscape{
			.home {
				left: 0.19em;
				bottom: 50%;
				margin-bottom: -0.34em;
				margin-left: 0em;
			}
		}

		.volume, .sleep{
			background: #dddddd;
		}

		&.red{
			background: #f96b6c;

			.volume, .sleep{
				background: #ed5758;
			}
		}

		&.yellow{
			background: #f2dc60;

			.volume, .sleep{
				background: #e5ce4c;
			}
		}

		&.green{
			background: #97e563;

			.volume, .sleep{
				background: #85d94d;
			}
		}

		&.blue{
			background: #33a2db;

			.volume, .sleep{
				background: #2694cd;
			}
		}
	}

	&.iphone4s{
		padding: 1.29em 0.27em;
		width: 3.20em;
		height: 4.80em;
		background: #686868;
		border-radius: 0.54em;

		&:before{
			content: '';
			width: calc(100% - 0.08em);
			height: calc(100% - 0.08em);
			position: absolute;
			top: 0.04em;
			left: 0.04em;
			z-index: 1;
			border-radius: 0.50em;
			background: #1e1e1e;
		}

		.top-bar {
			top: 0.60em;
			position: absolute;
			left: 0;
		}

		.bottom-bar {
			bottom: 0.90em;
			position: absolute;
			left: 0;
		}

		.camera {
			background: #3c3d3d;
			width: 0.10em;
			height: 0.10em;
			position: absolute;
			top: 0.72em;
			left: 1.34em;
			z-index: 3;
			margin-left: -0.05em;
			border-radius: 100%;
		}

		.speaker {
			background: #292728;
			width: 0.64em;
			height: 0.10em;
			position: absolute;
			top: 0.72em;
			left: 50%;
			z-index: 3;
			margin-left: -0.32em;
			border-radius: 0.05em;
		}

		.sensor {
			background: #292728;
			width: 0.40em;
			height: 0.10em;
			position: absolute;
			top: 0.36em;
			left: 50%;
			z-index: 3;
			margin-left: -0.20em;
			border-radius: 0.05em;
		}

		.home {
			background: #242324;
			border-radius: 100%;
			width: 0.72em;
			height: 0.72em;
			z-index: 3;
			position: absolute;
			left: 50%;
			margin-left: -0.36em;
			bottom: 0.30em;

			&:after {
				width: 0.20em;
				height: 0.20em;
				border: 0.01em solid rgba(255, 255, 255, 0.1);
				border-radius: 0.04em;
				position: absolute;
				display: block;
				content: '';
				top: 50%;
				left: 50%;
				margin-top: -0.11em;
				margin-left: -0.11em;
			}
		}

		.sleep {
			position: absolute;
			top: -0.04em;
			right: 0.60em;
			width: 0.60em;
			height: 0.04em;
			border-radius: 0.02em 0.02em 0em 0em;
			background: #4D4D4D;
		}

		.volume {
			position: absolute;
			left: -0.04em;
			top: 1.60em;
			height: 0.27em;
			width: 0.04em;
			border-radius: 0.02em 0em 0em 0.02em;
			background: #4D4D4D;

			&:before {
				position: absolute;
				left: 0em;
				top: -0.70em;
				height: 0.35em;
				width: 0.04em;
				border-radius: 0.02em 0em 0em 0.02em;
				background: inherit;
				content: '';
				display: block;
			}

			&:after {
				position: absolute;
				left: 0em;
				bottom: -0.64em;
				height: 0.27em;
				width: 0.04em;
				border-radius: 0.02em 0em 0em 0.02em;
				background: inherit;
				content: '';
				display: block;
			}
		}

		&.landscape{
			padding: 0.27em 1.29em;
			height: 3.20em;
			width: 4.80em;

			.bottom-bar {
				left: 0.90em;
				bottom: 0em;
				height: 100%;
				width: 0.03em;
			}

			.top-bar {
				left: calc(100% - 0.60em);
				top: 0em;
				height: 100%;
				width: 0.03em;
			}

			.camera {
				top: 1.34em;
				left: calc(100% - 0.72em);
				margin-left: 0;
			}

			.speaker{
				top: 50%;
				margin-left: 0;
				margin-top: -0.32em;
				left: calc(100% - 0.72em);
				width: 0.10em;
				height: 0.64em;
			}

			.sensor {
				height: 0.40em;
				width: 0.10em;
				left: calc(100% - 0.36em);
				top: 50%;
				margin-left: 0;
				margin-top: -0.20em;
			}

			.home {
				left: 0.30em;
				bottom: 50%;
				margin-left: 0;
				margin-bottom: -0.36em;
			}

			.sleep {
				height: 0.60em;
				width: 0.04em;
				right: -0.04em;
				top: calc(100% - 1.20em);
				border-radius: 0em 0.02em 0.02em 0em;
			}

			.volume {
				top: -0.04em;
				left: calc(100% - 1.87em);
				height: 0.04em;
				width: 0.27em;
				border-radius: 0.02em 0.02em 0em 0em;

				&:before {
					right: -0.70em;
					left: auto;
					top: 0em;
					width: 0.35em;
					height: 0.04em;
					border-radius: 0.02em 0.02em 0em 0em;
				}

				&:after{
					width: 0.27em;
					height: 0.04em;
					bottom: 0em;
					left: -0.64em;
					border-radius: 0.02em 0.02em 0em 0em;
				}
			}
		}

		&.silver{
			background: #bcbcbc;

			&:before{
				background: #fcfcfc;
			}

			.home{
				background: #fcfcfc;
				box-shadow: inset 0 0 0 0.01em #bcbcbc;

				&:after{
					border: 0.01em solid rgba(0, 0, 0, 0.2);
				}
			}

			.volume, .sleep{
				background: #d6d6d6;
			}
		}
	}

	&.nexus5{
		padding: 0.50em 0.15em 0.50em 0.15em;
		width: 3.20em;
		height: 5.68em;
		background: #1e1e1e;
		border-radius: 0.20em;

		&:before{
			border-radius: 6.00em / 0.50em;
			background: inherit;
			content: '';
			top: 0;
			position: absolute;
			height: 103.1%;
			width: calc(100% - 0.26em);
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
		}

		.top-bar{
			width: calc(100% - 0.08em);
			height: calc(100% - 0.06em);
			position: absolute;
			top: 0.03em;
			left: 0.04em;
			border-radius: 0.20em;
			background: #181818;

			&:before {
				border-radius: 6.00em / 0.50em;
				background: inherit;
				content: '';
				top: 0;
				position: absolute;
				height: 103.0%;
				width: calc(100% - 0.26em);
				top: 50%;
				left: 50%;
				transform: translateX(-50%) translateY(-50%);
			}
		}

		.bottom-bar{
			display: none;
		}

		.sleep{
			width: 0.03em;
			position: absolute;
			left: -0.03em;
			top: 1.10em;
			height: 1.00em;
			background: inherit;
			border-radius: 0.02em 0em 0em 0.02em;
		}

		.volume{
			width: 0.03em;
			position: absolute;
			right: -0.03em;
			top: 0.70em;
			height: 0.45em;
			background: inherit;
			border-radius: 0em 0.02em 0.02em 0em;
		}

		.camera {
			background: #3c3d3d;
			width: 0.10em;
			height: 0.10em;
			position: absolute;
			top: 0.18em;
			left: 50%;
			z-index: 3;
			margin-left: -0.05em;
			border-radius: 100%;

			&:before {
				background: #3c3d3d;
				width: 0.06em;
				height: 0.06em;
				content: '';
				display: block;
				position: absolute;
				top: 0.02em;
				left: -1.00em;
				z-index: 3;
				border-radius: 100%;
			}
		}

		&.landscape{
			padding: 0.15em 0.50em 0.15em 0.50em;
			height: 3.20em;
			width: 5.68em;

			&:before {
				width: 103.1%;
				height: calc(100% - 0.26em);
				border-radius: 0.50em / 6.00em;
			}

			.top-bar {
				left: 0.03em;
				top: 0.04em;
				height: calc(100% - 0.08em);
				width: calc(100% - 0.06em);

				&:before {
					width: 103%;
					height: calc(100% - 0.26em);
					border-radius: 0.50em / 6.00em;
				}
			}

			.sleep{
				height: 0.03em;
				width: 1.00em;
				left: calc(100% - 2.10em);
				top: -0.03em;
				border-radius: 0.02em 0.02em 0em 0em;
			}

			.volume{
				height: 0.03em;
				width: 0.45em;
				right: 0.70em;
				top: 100%;
				border-radius: 0em 0em 0.02em 0.02em;
			}

			.camera {
				top: 50%;
				left: calc(100% - 0.18em);
				margin-left: 0;
				margin-top: -0.05em;

				&:before {
					top: -1.00em;
					left: 0.02em;
				}
			}
		}
	}

	&.s5{
		padding: 0.60em 0.18em;
		border-radius: 0.42em;
		width: 3.20em;
		height: 5.68em;
		background: #bcbcbc;

		&:before, &:after{
			width: calc(100% - 0.52em);
			content: '';
			display: block;
			height: 0.26em;
			background: inherit;
			position: absolute;
			border-radius: 5.00em / 0.40em;
			left: 50%;
			transform: translateX(-50%);
		}

		&:before{
			top: -0.07em;
		}

		&:after{
			bottom: -0.07em;
		}

		.bottom-bar{
			display: none;
		}

		.top-bar{
			border-radius: 0.37em;
			width: calc(100% - 0.10em);
			height: calc(100% - 0.10em);
			top: 0.05em;
			left: 0.05em;
			background:
				radial-gradient(rgba(0, 0, 0, 0.02) 20%, transparent 60%) 0 0,
				radial-gradient(rgba(0, 0, 0, 0.02) 20%, transparent 60%) 0.03em 0.03em;
			background-color: white;
			background-size: 0.04em 0.04em;
			background-position: center;
			z-index: 2;
			position: absolute;

			&:before, &:after{
				width: calc(100% - 0.48em);
				content: '';
				display: block;
				height: 0.26em;
				background: inherit;
				position: absolute;
				border-radius: 5.00em / 0.40em;
				left: 50%;
				transform: translateX(-50%);
			}

			&:before{
				top: -0.07em;
			}

			&:after{
				bottom: -0.07em;
			}
		}

		.sleep{
			width: 0.03em;
			position: absolute;
			left: -0.03em;
			top: 1.00em;
			height: 1.00em;
			background: #cecece;
			border-radius: 0.02em 0em 0em 0.02em;
		}

		.speaker {
			width: 0.68em;
			height: 0.08em;
			position: absolute;
			top: 0.20em;
			display: block;
			z-index: 3;
			left: 50%;
			margin-left: -0.34em;
			background-color: #bcbcbc;
			background-position: top left;
			border-radius: 0.04em;
		}

		.sensor {
			display: block;
			position: absolute;
			top: 0.20em;
			right: 1.10em;
			background: #3c3d3d;
			border-radius: 100%;
			width: 0.08em;
			height: 0.08em;
			z-index: 3;

			&:after {
				display: block;
				content: '';
				position: absolute;
				top: 0em;
				right: 0.12em;
				background: #3c3d3d;
				border-radius: 100%;
				width: 0.08em;
				height: 0.08em;
				z-index: 3;
			}
		}

		.camera {
			display: block;
			position: absolute;
			top: 0.24em;
			right: 0.42em;
			background: black;
			border-radius: 100%;
			width: 0.10em;
			height: 0.10em;
			z-index: 3;

			&:before{
				width: 0.04em;
				height: 0.04em;
				background: #3c3d3d;
				border-radius: 100%;
				position: absolute;
				content: '';
				top: 50%;
				left: 50%;
				margin-top: -0.02em;
				margin-left: -0.02em;
			}
		}

		.home {
			position: absolute;
			z-index: 3;
			bottom: 0.17em;
			left: 50%;
			width: 0.70em;
			height: 0.20em;
			background: white;
			border-radius: 0.18em;
			display: block;
			margin-left: -0.35em;
			border: 0.02em solid black;
		}

		&.landscape{
			padding: 0.18em 0.60em;
			height: 3.20em;
			width: 5.68em;

			&:before, &:after{
				height: calc(100% - 0.52em);
				width: 0.26em;
				border-radius: 0.40em / 5.00em;
				transform: translateY(-50%);
			}

			&:before {
				top: 50%;
				left: -0.07em;
			}

			&:after {
				top: 50%;
				left: auto;
				right: -0.07em;
			}

			.top-bar{
				&:before, &:after{
					width: 0.26em;
					height: calc(100% - 0.48em);
					border-radius: 0.40em / 5.00em;
					transform: translateY(-50%);
				}

				&:before{
					right: -0.07em;
					top: 50%;
					left: auto;
				}

				&:after{
					left: -0.07em;
					top: 50%;
					right: auto;
				}
			}

			.sleep{
				height: 0.03em;
				width: 1.00em;
				left: calc(100% - 2.00em);
				top: -0.03em;
				border-radius: 0.02em 0.02em 0em 0em;
			}

			.speaker {
				height: 0.68em;
				width: 0.08em;
				left: calc(100% - 0.20em);
				top: 50%;
				margin-left: 0;
				margin-top: -0.34em;
			}

			.sensor {
				right: 0.20em;
				top: calc(100% - 1.10em);

				&:after{
					left: -0.12em;
					right: 0em;
				}
			}

			.camera {
				top: calc(100% - 0.42em);
				right: 0.24em;
			}

			.home {
				width: 0.20em;
				height: 0.70em;
				bottom: 50%;
				margin-bottom: -0.35em;
				margin-left: 0;
				left: 0.17em;
			}
		}

		&.black{
			background: #1e1e1e;

			.speaker{
				background: black;
			}

			.sleep{
				background: #1e1e1e;
			}

			.top-bar{
				background: radial-gradient(rgba(0, 0, 0, 0.05) 20%, transparent 60%) 0 0,
				radial-gradient(rgba(0, 0, 0, 0.05) 20%, transparent 60%) 0.03em 0.03em;
				background-color: #2c2b2c;
				background-size: 0.04em 0.04em;
			}

			.home{
				background: #2c2b2c;
			}
		}
	}

	&.lumia920{
		padding: 0.80em 0.35em 1.25em 0.35em;
		background: #ffdd00;
		width: 3.20em;
		height: 5.33em;
		border-radius: 0.40em / 0.03em;

		.bottom-bar{
			display: none;
		}

		.top-bar{
			width: calc(100% - 0.24em);
			height: calc(100% - 0.32em);
			position: absolute;
			top: 0.16em;
			left: 0.12em;
			border-radius: 0.24em;
			background: black;
			z-index: 1;

			&:before{
				background: #1e1e1e;
				display: block;
				content: '';
				width: calc(100% - 0.04em);
				height: calc(100% - 0.04em);
				top: 0.02em;
				left: 0.02em;
				position: absolute;
				border-radius: 0.22em;
			}
		}

		.volume{
			width: 0.03em;
			position: absolute;
			top: 1.30em;
			height: 1.00em;
			background: #1e1e1e;
			right: -0.03em;
			border-radius: 0em 0.02em 0.02em 0em;

			&:before {
				width: 0.03em;
				position: absolute;
				top: 1.90em;
				content: '';
				display: block;
				height: 0.50em;
				background: inherit;
				right: 0em;
				border-radius: 0em 0.02em 0.02em 0em;
			}

			&:after {
				width: 0.03em;
				position: absolute;
				top: 4.60em;
				content: '';
				display: block;
				height: 0.50em;
				background: inherit;
				right: 0em;
				border-radius: 0em 0.02em 0.02em 0em;
			}
		}

		.camera {
			background: #3c3d3d;
			width: 0.10em;
			height: 0.10em;
			position: absolute;
			top: 0.34em;
			right: 1.30em;
			z-index: 5;
			border-radius: 0.05em;
		}

		.speaker {
			background: #292728;
			width: 0.64em;
			height: 0.10em;
			position: absolute;
			top: 0.38em;
			left: 50%;
			margin-left: -0.32em;
			border-radius: 0.05em;
			z-index: 3;
		}

		&.landscape{
			padding: 0.35em 0.80em 0.35em 1.25em;
			height: 3.20em;
			width: 5.68em;
			border-radius: 0.02em / 1.00em;

			.top-bar{
				height: calc(100% - 0.24em);
				width: calc(100% - 0.32em);
				left: 0.16em;
				top: 0.12em;
			}

			.volume {
				height: 0.03em;
				right: 1.30em;
				width: 1.00em;
				top: 100%;
				border-radius: 0em 0em 0.02em 0.02em;

				&:before{
					height: 0.03em;
					right: 1.90em;
					top: 0em;
					width: 0.50em;
					border-radius: 0em 0em 0.02em 0.02em;
				}

				&:after{
					height: 0.03em;
					right: 4.30em;
					top: 0em;
					width: 0.50em;
					border-radius: 0em 0em 0.02em 0.02em;
				}
			}

			.camera {
				right: 0.30em;
				top: calc(100% - 1.40em);
			}

			.speaker {
				width: 0.10em;
				height: 0.64em;
				top: 50%;
				margin-left: 0;
				margin-top: -0.32em;
				left: calc(100% - 0.48em);
			}
		}

		&.black{
			background: black;
		}

		&.white{
			background: white;
			box-shadow: 0 0.01em 0.02em 0 rgba(0,0,0,0.2);
		}

		&.blue{
			background: #00acdd;
		}

		&.red{
			background: #CC3E32;
		}
	}

	&.htc-one {
		padding: 0.72em 0.25em 1.00em 0.25em;
		width: 3.20em;
		height: 5.68em;
		background: #bebebe;
		border-radius: 0.34em;

		&:before{
			content: '';
			display: block;
			width: calc(100% - 0.04em);
			height: calc(100% - 0.04em);
			position: absolute;
			top: 0.02em;
			left: 0.02em;
			background: #adadad;
			border-radius: 0.32em;
		}

		&:after{
			content: '';
			display: block;
			width: calc(100% - 0.08em);
			height: calc(100% - 0.08em);
			position: absolute;
			top: 0.04em;
			left: 0.04em;
			background: #eeeeee;
			border-radius: 0.30em;
		}

		.top-bar{
			width: calc(100% - 0.04em);
			height: 6.35em;
			position: absolute;
			background: #424242;
			top: 0.50em;
			z-index: 1;
			left: 0.02em;

			&:before{
				content: '';
				position: absolute;
				width: calc(100% - 0.04em);
				height: 100%;
				position: absolute;
				background: black;
				top: 0em;
				z-index: 1;
				left: 0.02em;
			}
		}

		.bottom-bar{
			display: none;
		}

		.speaker {
			height: 0.16em;
			width: 2.16em;
			display: block;
			position: absolute;
			top: 0.22em;
			z-index: 2;
			left: 50%;
			margin-left: -1.08em;
			background: radial-gradient(#343434 25%, transparent 50%) 0 0,
			radial-gradient(#343434 25%, transparent 50%) 0.04em 0.04em;
			background-size: 0.04em 0.04em;
			background-position: top left;

			&:after {
				content: '';
				height: 0.16em;
				width: 2.16em;
				display: block;
				position: absolute;
				top: 6.76em;
				z-index: 2;
				left: 50%;
				margin-left: -1.08em;
				background: inherit;
			}
		}

		.camera {
			display: block;
			position: absolute;
			top: 0.18em;
			right: 0.38em;
			background: #3c3d3d;
			border-radius: 100%;
			width: 0.24em;
			height: 0.24em;
			z-index: 3;

			&:before {
				width: 0.08em;
				height: 0.08em;
				background: black;
				border-radius: 100%;
				position: absolute;
				content: '';
				top: 50%;
				left: 50%;
				margin-top: -0.04em;
				margin-left: -0.04em;
			}
		}

		.sensor {
			display: block;
			position: absolute;
			top: 0.29em;
			left: 0.60em;
			background: #3c3d3d;
			border-radius: 100%;
			width: 0.08em;
			height: 0.08em;
			z-index: 3;

			&:after {
				display: block;
				content: '';
				position: absolute;
				top: 0em;
				right: 0.12em;
				background: #3c3d3d;
				border-radius: 100%;
				width: 0.08em;
				height: 0.08em;
				z-index: 3;
			}
		}

		&.landscape{
			padding: 0.25em 0.72em 0.25em 1.00em;
			height: 3.20em;
			width: 5.68em;

			.top-bar{
				height: calc(100% - 0.04em);
				width: 6.35em;
				left: calc(100% - 6.85em);
				top: 0.02em;
			}

			.speaker {
				width: 0.16em;
				height: 2.16em;
				left: calc(100% - 0.38em);
				top: 50%;
				margin-left: 0em;
				margin-top: -1.08em;

				&:after {
					width: 0.16em;
					height: 2.16em;
					left: calc(100% - 6.92em);
					top: 50%;
					margin-left: 0;
					margin-top: -1.08em;
				}
			}

			.camera {
				right: 0.18em;
				top: calc(100% - 0.38em);
			}

			.sensor {
				left: calc(100% - 0.29em);
				top: 0.60em;

				:after {
					right: 0;
					top: -0.12em;
				}
			}
		}
	}

	&.ipad{
		width: 5.76em;
		height: 7.68em;
		padding: 0.90em 0.25em;
		background: #242324;
		border-radius: 0.44em;

		&:before{
			width: calc(100% - 0.08em);
			height: calc(100% - 0.08em);
			position: absolute;
			content: '';
			display: block;
			top: 0.04em;
			left: 0.04em;
			border-radius: 0.40em;
			background: #1e1e1e;
		}

		.camera {
			background: #3c3d3d;
			width: 0.10em;
			height: 0.10em;
			position: absolute;
			top: 0.44em;
			left: 50%;
			margin-left: -0.05em;
			border-radius: 100%;
		}

		.top-bar, .bottom-bar{
			display: none;
		}

		.home {
			background: #242324;
			border-radius: 0.36em;
			width: 0.50em;
			height: 0.50em;
			position: absolute;
			left: 50%;
			margin-left: -0.25em;
			bottom: 0.22em;

			&:after {
				width: 0.15em;
				height: 0.15em;
				margin-top: -0.08em;
				margin-left: -0.08em;
				border: 0.01em solid rgba(255, 255, 255, 0.1);
				border-radius: 0.04em;
				position: absolute;
				display: block;
				content: '';
				top: 50%;
				left: 50%;
			}
		}

		&.landscape{
			height: 5.76em;
			width: 7.68em;
			padding: 0.25em 0.90em;

			.camera {
				left: calc(100% - 0.44em);
				top: 50%;
				margin-left: 0;
				margin-top: -0.05em;
			}

			.home {
				top: 50%;
				left: 0.22em;
				margin-left: 0;
				margin-top: -0.25em;
			}
		}

		&.silver{
			background: #bcbcbc;

			&:before{
				background: #fcfcfc;
			}

			.home{
				background: #fcfcfc;
				box-shadow: inset 0 0 0 0.01em #bcbcbc;

				&:after{
					border: 0.01em solid rgba(0, 0, 0, 0.2);
				}
			}
		}
	}

	&.macbook {
		width: 9.60em;
		height: 6.00em;
		padding: 0.44em 0.44em 0.76em;
		margin: 0 auto;
		background: #bebebe;
		border-radius: 0.34em;

		&:before {
			width: calc(100% - 0.08em);
			height: calc(100% - 0.08em);
			position: absolute;
			content: '';
			display: block;
			top: 0.04em;
			left: 0.04em;
			border-radius: 0.30em;
			background: #1e1e1e;
		}

		.top-bar {
			width: calc(100% + 2 * 0.70em);
			height: 0.40em;
			position: absolute;
			content: '';
			display: block;
			top: 6.80em;
			left: -0.70em;
			border-bottom-left-radius: 0.90em 0.18em;
			border-bottom-right-radius: 0.90em 0.18em;
			background: #bebebe;
			box-shadow: inset 0em -0.04em 0.13em 0.03em rgba(34, 34, 34, 0.6);

			&:before {
				width: 100%;
				height: 0.24em;
				content: '';
				display: block;
				top: 0;
				left: 0;
				background: #f0f0f0;
				border-bottom: 0.02em solid #aaa;
				border-radius: 0.05em;
				position: relative;
			}

			&:after {
				width: 16%;
				height: 0.14em;
				content: '';
				display: block;
				top: 0;
				background: #ddd;
				position: absolute;
				margin-left: auto;
				margin-right: auto;
				left: 0;
				right: 0;
				border-radius: 0 0 0.20em 0.20em;
				box-shadow: inset 0em -0.03em 0.10em #999;
			}
		}

		.bottom-bar {
			background: transparent;
			width: calc(100% + 2 * 0.70em);
			height: 0.26em;
			position: absolute;
			content: '';
			display: block;
			top: 6.80em;
			left: -0.70em;

			&:before,
			&:after {
				height: calc(100% - 0.02em);
				width: 0.80em;
				content: '';
				display: block;
				top: 0;

				position: absolute;
			}

			&:before {
				left: 0;
				background: #f0f0f0;
				background: linear-gradient(to right, #747474 0%, #c3c3c3 5%, #ebebeb 14%, #979797 41%, #f0f0f0 80%, #f0f0f0 100%, #f0f0f0 100%);
			}

			&:after {
				right: 0;
				background: #f0f0f0;
				background: linear-gradient(to right, #f0f0f0 0%, #f0f0f0 0%, #f0f0f0 20%, #979797 59%, #ebebeb 86%, #c3c3c3 95%, #747474 100%);
			}
		}

		.camera {
			background: #3c3d3d;
			width: 0.10em;
			height: 0.10em;
			position: absolute;
			top: 0.20em;
			left: 50%;
			margin-left: -0.05em;
			border-radius: 100%;
		}

		.home {
			display: none;
		}
	}

	&.iphone-x {
		width: 3.75em;
		height: 8.12em;
		padding: 0.26em;
		background: #fdfdfd;
		box-shadow:inset 0 0 0.11em 0 black;
		border-radius: 0.66em;

		.overflow {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			border-radius: 0.66em;
			overflow: hidden;
		}

		.shadow {
			border-radius: 100%;
			width: 0.90em;
			height: 0.90em;
			position: absolute;
			background: radial-gradient(ellipse at center, rgba(0,0,0,0.6) 0%,rgba(255,255,255,0) 60%);
		}

		.shadow--tl {
			top: -0.20em;
			left: -0.20em;
		}

		.shadow--tr {
			top: -0.20em;
			right: -0.20em;
		}

		.shadow--bl {
			bottom: -0.20em;
			left: -0.20em;
		}

		.shadow--br {
			bottom: -0.20em;
			right: -0.20em;
		}

		&:before{
			width: calc(100% - 0.10em);
			height: calc(100% - 0.10em);
			position: absolute;
			top: 0.05em;
			content: '';
			left: 0.05em;
			border-radius: 0.61em;
			background: black;
			z-index: 1;
		}

		.inner-shadow{
			width: calc(100% - 0.20em);
			height: calc(100% - 0.20em);
			position: absolute;
			top: 0.10em;
			overflow: hidden;
			left: 0.10em;
			border-radius: 0.56em;
			box-shadow: inset 0 0 0.15em 0 rgba(white, 0.66);
			z-index: 1;

			&:before{
				box-shadow:inset 0 0 0.20em 0 #FFFFFF;
				width: 100%;
				height: 116%;
				position: absolute;
				top: -8%;
				content: '';
				left: 0;
				border-radius: 2.00em / 1.12em;
				z-index: 2;
			}
		}

		.screen {
			border-radius: 0.40em;
			box-shadow: none;
		}

		.top-bar, .bottom-bar {
			width: 100%;
			position: absolute;
			height: 0.08em;
			background: rgba(black, 0.1);
			left: 0;
		}

		.top-bar {
			top: 0.80em;
		}

		.bottom-bar {
			bottom: 0.80em;
		}

		.volume, .volume:before, .volume:after, .sleep {
			width: 0.03em;
			background: #b5b5b5;
			position: absolute;
		}

		.volume {
			left: -0.03em;
			top: 1.16em;
			height: 0.32em;

			&:before {
				height: 0.62em;
				top: 0.62em;
				content: '';
				left: 0;
			}

			&:after {
				height: 0.62em;
				top: 1.40em;
				content: '';
				left: 0;
			}
		}

		.sleep {
			height: 0.96em;
			top: 2.00em;
			right: -0.03em;
		}

		.camera {
			width: 0.06em;
			height: 0.06em;
			top: 0.09em;
			border-radius: 100%;
			position: absolute;
			left: 1.54em;
			background: #0d4d71;
		}

		.speaker {
			height: 0.06em;
			width: 0.60em;
			left: 50%;
			position: absolute;
			top: 0.09em;
			margin-left: -0.30em;
			background: #171818;
			border-radius: 0.06em;
		}

		.notch {
			position: absolute;
			width: 2.10em;
			height: 0.30em;
			top: 0.26em;
			left: 1.08em;
			z-index: 4;
			background: black;
			border-bottom-left-radius: 0.24em;
		    border-bottom-right-radius: 0.24em;

		    &:before, &:after {
				content: '';
				height: 0.08em;
				position: absolute;
				top: 0;
				width: 0.08em;
		    }

			&:after {
				background: radial-gradient(circle at bottom left, transparent 0, transparent 70%, black 70%, black 100%);
				left: -0.08em;
			}

			&:before {
				background: radial-gradient(circle at bottom right, transparent 0, transparent 70%, black 70%, black 100%);
				right: -0.08em;
			}
		}

		&.landscape {
			height: 3.75em;
			width: 8.12em;

			.top-bar, .bottom-bar {
				width: 0.08em;
				height: 100%;
				top: 0;
			}

			.top-bar {
				left: 0.80em;
			}

			.bottom-bar {
				right: 0.80em;
				bottom: auto;
				left: auto;
			}

			.volume, .volume:before, .volume:after, .sleep {
				height: 0.03em;
			}

			.inner-shadow:before {
				height: 100%;
				width: 116%;
				left: -8%;
				top: 0;
				border-radius: 1.12em / 2.00em;
			}

			.volume {
				bottom: -0.03em;
				top: auto;
				left: 1.16em;
				width: 0.32em;

				&:before {
					width: 0.62em;
					left: 0.62em;
					top: 0;
				}

				&:after {
					width: 0.62em;
					left: 1.40em;
					top: 0;
				}
			}

			.sleep {
				width: 0.96em;
				left: 2.00em;
				top: -0.03em;
				right: auto;
			}

			.camera {
				left: 0.09em;
				bottom: 1.54em;
				top: auto;
			}

			.speaker {
				width: 0.06em;
				height: 0.60em;
				left: 0.09em;
				top: 50%;
				margin-top: -0.30em;
				margin-left: 0;
			}

			.notch {
				height: 2.10em;
				width: 0.30em;
				left: 0.26em;
				bottom: 1.08em;
				top: auto;
				border-top-right-radius: 0.24em;
			    border-bottom-right-radius: 0.24em;
			    border-bottom-left-radius: 0;

				&:before, &:after {
					left: 0;
				}

				&:after {
					background: radial-gradient(circle at bottom right, transparent 0, transparent 70%, black 70%, black 100%);
					bottom: -0.08em;
					top: auto;
				}

				&:before {
					background: radial-gradient(circle at top right, transparent 0, transparent 70%, black 70%, black 100%);
					top: -0.08em;
				}
			}	
		}
	}

	&.note8 {
		width: 4.00em;
		height: 8.22em;
		background: black;
		border-radius: 0.34em;
		padding: 0.45em 0.10em;

		.overflow {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			border-radius: 0.34em;
			overflow: hidden;
		}

		.speaker {
			height: 0.08em;
			width: 0.56em;
			left: 50%;
			position: absolute;
			top: 0.25em;
			margin-left: -0.28em;
			background: #171818;
			z-index: 1;
			border-radius: 0.08em;
		}

		.camera {
			height: 0.18em;
			width: 0.18em;
			left: 0.86em;
			position: absolute;
			top: 0.18em;
			background: #212b36;
			z-index: 1;
			border-radius: 100%;

			&:before{
				content: '';
				height: 0.08em;
				width: 0.08em;
				left: -0.22em;
				position: absolute;
				top: 0.05em;
				background: #212b36;
				z-index: 1;
				border-radius: 100%;
			}
		}

		.sensors {
			height: 0.10em;
			width: 0.10em;
			left: 1.20em;
			position: absolute;
			top: 0.22em;
			background: #1d233b;
			z-index: 1;
			border-radius: 100%;

			&:before{
				content: '';
				height: 0.10em;
				width: 0.10em;
				left: 0.18em;
				position: absolute;
				top: 0;
				background: #1d233b;
				z-index: 1;
				border-radius: 100%;
			}
		}

		.more-sensors {
			height: 0.16em;
			width: 0.16em;
			left: 2.85em;
			position: absolute;
			top: 0.18em;
			background: #33244a;
			box-shadow: 0 0 0 0.02em rgba(white, 0.1);
			z-index: 1;
			border-radius: 100%;

			&:before{
				content: '';
				height: 0.11em;
				width: 0.11em;
				left: 0.40em;
				position: absolute;
				top: 0.04em;
				background: #214a61;
				z-index: 1;
				border-radius: 100%;
			}
		}

		.sleep {
			width: 0.02em;
			height: 0.56em;
			background: black;
			position: absolute;
			top: 2.88em;
			right: -0.02em;
		}

		.volume {
			width: 0.02em;
			height: 1.20em;
			background: black;
			position: absolute;
			top: 1.68em;
			left: -0.02em;

			&:before {
				content: '';
				top: 1.68em;
				width: 0.02em;
				position: absolute;
				left: 0;
				background: black;
				height: 0.56em;
			}
		}

		.inner {
			width: 100%;
			height: calc(100% - 0.08em);
			position: absolute;
			top: 0.02em;
			content: '';
			left: 0em;
			border-radius: 0.34em;
			border-top: 0.02em solid #9fa0a2;
			border-bottom: 0.02em solid #9fa0a2;
			background: black;
			z-index: 1;
			box-shadow: inset 0 0 0.06em 0 rgba(white, 0.5);
		}

		.shadow{
			box-shadow:
				inset 0 0 0.60em 0 white,
				inset 0 0 0.30em 0 rgba(white, 0.5),
				0 0 0.20em 0 white,
				0 0 0.20em 0 rgba(white, 0.5);
			height: 101%;
			position: absolute;
			top: -0.5%;
			content: '';
			width: calc(100% - 0.20em);
			left: 0.10em;
			border-radius: 0.38em;
			z-index: 5;
			pointer-events: none;
		}

		.screen {
			border-radius: 0.14em;
			box-shadow: none;
		}

		&.landscape {
			height: 4.00em;
			width: 8.22em;
			padding: 0.10em 0.45em;

			.speaker {
				height: 0.56em;
				width: 0.08em;
				top: 50%;
				margin-top: -0.28em;
				margin-left: 0;
				right: 0.25em;
				left: auto;
			}

			.camera {
				top: 0.86em;
				right: 0.18em;
				left: auto;

				&:before {
					top: -0.22em;
					left: 0.05em;
				}
			}

			.sensors {
				top: 1.20em;
				right: 0.22em;
				left: auto;

				&:before {
					top: 0.18em;
					left: 0;
				}
			}

			.more-sensors {
				top: 2.85em;
				right: 0.18em;
				left: auto;

				&:before {
					top: 0.40em;
					left: 0.04em;
				}
			}

			.sleep {
				bottom: -0.02em;
				top: auto;
				right: 2.88em;
				width: 0.56em;
				height: 0.02em;
			}

			.volume {
				width: 1.20em;
				height: 0.02em;
				top: -0.02em;
				right: 1.68em;
				left: auto;

				&:before {
					right: 1.68em;
					left: auto;
					top: 0;
					width: 0.56em;
					height: 0.02em;
				}
			}

			.inner {
				height: 100%;
				width: calc(100% - 0.08em);
				left: 0.02em;
				top: 0;
				border-top: 0;
				border-bottom: 0;
				border-left: 0.02em solid #9fa0a2;
				border-right: 0.02em solid #9fa0a2;
			}

			.shadow {
				width: 101%;
				height: calc(100% - 0.20em);
				left: -0.5%;
				top: 0.10em;
			}
		}
	}
}
